@import url('https://fonts.googleapis.com/css2? family = Püsiv + Marker & display = swap');

img {
    width: 500px;
}



h3 {
    font-family: 'DotGothic16', sans-serif;
    
}

.footer {
text-align: center;
margin-top: 2rem;
}